h2{
    font-family:minhafonte,cursive,verdana,serif;
    font-size: 35px;
    text-align: center;
}
img{
    border-radius: 25px;
    width: 100%;
}
.tamanhotabela{
    border-spacing: 10px;
    font-family:cursive, Verdana, Geneva, Tahoma, sans-serif;
}
.item{
    margin: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.item:hover{
    background-color: rgba(112, 188, 211, 0.897);
    transition: scale(1.1);
}
table{
    width: 400px;
    height: 400px;
    margin: auto;
}
a{
    color: black;
}