@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0; padding: 0;
}
body{
    background-color: #5be7d5;
}
.principal{

    align-items: center;      
    width: 960;
    margin-left: 20em;
    margin-right: 20em;
}
.normal,popular{
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100;           
    background-color: #f3f9f8;
    width: 960;
    margin: auto;
}

.container{
    justify-content: center;  
    height: 100;           
    background-color: #ffffff;
    width: 960;
    margin: auto;
}
header,footer.fundo{
    background-color: #62aca2;
}
@font-face{
    font-family: minhafonte;
    src: url(/fonte/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
h1{
    font-family: minhafonte;
    font-size: 50px;
}
a:link{
    color: #701c85;
}
a{
    text-decoration: none; /*serve para decorar o texto*/
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
}

#imgprincipal {
    max-width: 100%;
    height: auto;
    display: block;
}
li,ul,p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960;
    margin: auto;
}
